*{
    font-family:Arial ;
    background-color:#00ffff ;
}
.container{
    width: 300 px ;
    padding: 10 px ;
    background-color:transparent ;
    text-align:center;
    margin:50 px auto;
}
body{
     background-color:darkturquoise;
}
h2{
    color:rgb(128, 0, 2);
    font-style:italic;
    margin-bottom:10 px;
    text-decoration:underline;
}
ul{
    list-style-type:none;
}
li{
    align-items:center;
    gap:12 px;
    padding:8 px 12 px;
    display:flex;
}

#TaskList{
    display:flex;
   flex-direction:column;
}
.task{
    display:flex;
    flex-direction:column;
    background-color:black;
    border-radius:10 px ;
}

.completed{
    text-decoration:line-through;
    color:gray;
    opacity:0.5;
}

.input{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
input{
    width:400 px;
    height: 25 px;
    border-bottom-left-radius: 10 px;
    border-top-left-radius: 10 px;
}
input{
    padding-left:5 px;
    color:black;
}
.delete-button{
    text-decoration:none;
    border-radius:20 px;
    width:60 px;
    color:white;
    background-color:red;
    height:22 px;
    margin-left:auto;
}
add-button{
    width:100 px;
    background-color:rgb(162, 0, 255);
    color:cyan;
    border-bottom-right-radius: 10 px;
    border-top-right-radius:10 px;
}
button:hover{
    opacity:0.5;
}
.task-text{
    flex:1;
    color: blueviolet;
    font-style:italic;
    font-size:20 px;
    overflow-wrap: break-word;
    word-break: break-word;
}